<link rel="stylesheet" href="navbar.css">
<div class="navbar">
    <a href="/">Home</a>
    <a href="/market">Market</a>
    <a href="/contact">Contact</a>
    <% if (typeof user !== 'undefined' && user) { %>
        <div class="dropdown">
            <button class="dropbtn">
                <img src="<%="https://avatars.steamstatic.com/" + user.avatar%>" alt="Avatar" class="profile-img-navbar">
                <span class="profile-text-navbar"> <%=user.display_name%> </span>
                <span class="caret">&#9660;</span>
            </button>
            <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/sell">Sell</a>
                <a href="#">Option 3</a>
                <form id="logoutForm" action="/logout" method="post" style="display: none;">
                    <!-- Empty -->
                </form>
                <a href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a>
            </div>
        </div>
    <% } else {%>
        <a href="/login" class="login">Log in</a>
    <% } %>
</div>