<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="basic.css">
</head>
<body>
    <%- include('./components/navbar.ejs') %>
    <div class="container">
        <div class="main-content">
            <h1>Welcome to the Transaction Service</h1>
            <p>Here you can manage your transactions quickly and securely. <% if(!user) { %> Log in to get started. <% } %> </p>
        </div>
    </div>
</body>
</html>
