<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar">
        <a href="#">Home</a>
        <a href="#">Transakcje</a>
        <a href="#">Kontakt</a>
        <div class="dropdown">
        <button class="dropbtn">
            <img src="https://avatars.steamstatic.com/1ac2a7200a03a85da3bceb24877c076df6c7c3e3.jpg" alt="Avatar" class="profile-img">
            <span class="profile-text"> giuseppe carabiniero </span>
            <span class="caret">&#9660;</span>
        </button>
        <div class="dropdown-content">
            <a href="#">Option 1</a>
            <a href="#">Option 2</a>
            <a href="#">Option 3</a>
            <a href="steamauth/logout.php">Logout</a>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="main-content">
            <h1>Welcome to the Transaction Service</h1>
            <p>Here you can manage your transactions quickly and securely. Log in to get started.</p>
        </div>
    </div>
</body>
</html>
