<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market</title>
    <link rel="stylesheet" href="/basic.css">
    <link rel="stylesheet" href="/cards.css">
    <link rel="stylesheet" href="/marketcards.css">
</head>
<body>
    <%-include('./components/navbar.ejs', { user : user })%>
    
    <div class="container">
        <div class="cards-container">
            <% items.forEach((item) => { %>
                <%- include('./components/buycard.ejs', { item: item, maps: maps }); %>
            <% }); %>
        </div>
    </div>

    <script src="/market.js"></script>
</body>
</html>