<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stall</title>
    <link rel="stylesheet" href="/basic.css">
    <link rel="stylesheet" href="/stall.css">
    <link rel="stylesheet" href="/cards.css">
    <link rel="stylesheet" href="/marketcards.css">
</head>
<body>
    <%- include('./components/navbar.ejs', { user : user }) %>
    
    <div class="user-section">
        <img src="<%="https://avatars.steamstatic.com/" + seller.avatar.substring(0, seller.avatar.length - 4) + "_full.jpg"%>" alt="avatar" class="user-photo">
        <h2><%= seller.display_name %></h2>
    </div>
    
    <div class="container">
        <div class="cards-container">
            <% if (items.length)
                items.forEach((item) => { %>
                <%- include('./components/buycard.ejs', { item: item, maps: maps }) %>
            <% });
            else { %>
                <h2>No items in the stall</h2>
            <% } %>
        </div>
    </div>

    <script src="/mystall.js"></script>
</body>
</html>