.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.item-card {
    background: #1e1e1e;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    max-width: 200px;
    text-align: center;
}
.item-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.item-card h3 {
    margin: 10px 0;
    font-size: 14px;
    text-align: left;
}

.item-card h4 {
    margin: 10px 0;
    font-size: 11px;
    text-align: left;
    color: rgb(158, 167, 177);
    min-height: 1em;
}

.item-card p {
    margin: 10px 0;
    font-size: 16px;
}
.item-card button {
    background-color: #0059ff;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.item-card button:hover {
    background-color: #1b4164;
}