.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.item-card {
    background: #1e1e1e;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    max-width: 200px;
    text-align: center;
}

.item-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.item-card h3 {
    margin: 10px 0;
    font-size: 14px;
    text-align: left;
}

.item-card h4 {
    margin: 10px 0;
    font-size: 11px;
    text-align: left;
    color: rgb(158, 167, 177);
    min-height: 1em;
}

.item-card p {
    margin: 10px 0;
    font-size: 14px;
}

.paint-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paint-wear, .paint-seed {
    /* font-size: 10px; */
    color: rgb(158, 167, 177);
    min-height: 1em;
}

.paint-wear {
    text-align: left;
}

.paint-seed {
    text-align: right;
}

.sell-button, .buy-button, .remove-button {
    background-color: #0059ff;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.sell-button:hover, .buy-button:hover, .remove-button:hover {
    background-color: #1b4164;
}

.image-container {
    position: relative;
    display: inline-block;
}

.item-buttons {
    position: absolute;
    top: -30px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
}

.icon-link {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
}


.icon-link:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.icon-svg {
    width: 20px;
    height: 20px;
}

.watch-count {
    margin-left: 5px;
    font-size: 14px;
    color: white;
}